@use 'variables';

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	
	font-family: variables.$font-family;
	font-weight: 600;
	font-size: 0.95rem;
	
	border-radius: 50px;
	padding: 0.5rem 1.2rem;
	cursor: pointer;
	transition: all 0.3s ease;
	
	&--primary {
		background-color: variables.$color-btn-primary;
		color: variables.$color-btn-text-primary;
		}
	
	&:hover {
		transform: translateY(-2px);
		box-shadow: variables.$shadow-btn;
	}
	
	&--full {
		width: 100%;
		justify-content: space-between;
		padding: 2rem 4rem;
		font-size: 1.5rem;
		color: variables.$color-white;
		font-weight: 400;
		border: 1.8px solid variables.$color-border-transparent;
		border-radius: 0 0 1rem 0;
		border-bottom: none;
		border-right: none;
		
		&:first-child {
			border-bottom-left-radius: 1rem;
			border-bottom-right-radius: 0;
			border-left: none;
		}
		
		&:hover {
			box-shadow: none;
			transform: none;
			background-color: variables.$color-btn-hover-bg-transparent;
		}
	}
}
